
nav {

	width:99%;
	background: #000;
	font-size: 11pt;
	height:35px;
	position: relative;

}
nav ul {
	padding: 0;
	margin:-7px 20px 0px -7px;
	
}
nav li {
	display: inline;
	float: left;
	
}
nav a {
	color: #fff;
	display: inline-block;
	width:115px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	margin:0px 20px 0px 0px;
	

}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	text-transform:uppercase;
	
}
nav li:last-child a {
	border-right: 0;
	
}
nav a:hover, nav a:active {
	color:#F00;
	text-decoration:none;
	border-bottom:2px solid #ff6c00;
}
nav a#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
		margin: 145px 0px 12px 0px;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
		margin:-7px 10px 0px 0px;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}