

a { text-decoration: none; }



.navigation {
  display: block;
  margin:10px 0;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.navigation li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 17px;
  color: #def1f0;
}

.navigation li a {
  padding:8px 15px 10px 15px;
  font-size: 15px;
  color: #111;
  display: inline-block;
  outline: 0;
  font-weight: 400;
  text-decoration:none;
  text-transform:uppercase;
  margin:0px 35px 0px 0px;
}

.navigation li:hover ul.dropdown { display: block; }

.navigation li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #111;
  padding-top: 0;
}

.navigation li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.navigation li ul.dropdown li a {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  display: block;
  border-bottom: 1px solid #005c4d;
  font-weight: 400;
}

.navigation li ul.dropdown li:last-child a { border-bottom: none; }

.navigation li:hover a {
	border-bottom:2px solid #ff6c00;
  color: #ff6c00 !important;
}

.navigation li:first-child:hover a { border-radius: 3px 0 0 3px; }

.navigation li ul.dropdown li:hover a { background: #56b5ae; }

.navigation li ul.dropdown li:first-child:hover a { border-radius: 0; }

.navigation li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}
 @media only screen and (max-width:767px) {

.navigation {
  background: #ececec;
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top:50px;
  transition: left 0.3s linear;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  z-index:999;
}

.navigation.visible {
  left: 0px;
  transition: left 0.3s linear;
}

.nav_bg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height:40px;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0px;
  background: #ececec;
  padding: 12px 0 0 10px;
  z-index:999999;
}

.nav_bar {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  margin: 0;
}

.nav_bar span {
  height: 2px;
  background: #111;
     margin: 0px 10px 5px 5px;
  display: block;
  width: 20px;
}

.nav_bar span:nth-child(2) { width: 20px; }

.nav_bar span:nth-child(3) { width: 20px; }

.navigation ul { padding-top: 50px; }

.navigation li { display: block; }

.navigation li a {
  display: block;
  color: #505050;
  font-weight: 500;
}