﻿
@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/* Mobile Layout: 480px and below. */
@media only screen and (min-width: 318px) {
.ful-banner-bg {width:100%; height:50px; float:left; background:url(../images/header-banner.jpg); background-size:100%;}
.logo-left{float:left; margin:10px 0px 10px 0px; width:35%;}
.Search{float:left; margin:50px 1px 10px 0px; width:291px; height:33px; background:#e2e7ea; border:1px solid #cecece; border-radius:15px; padding:0px 5px 0px 10px;}
.Search-con{float:left; margin:10px 0px 0px 0px; height:20px; width:20px;}
.btn-danger-color1{color: #dbdbdb; background-color:#e2e7ea; border:1px  #e2e7ea solid; margin:57px 0px 0px -37px;}

.hading-h2{ display:none;}
.navi-bg{width:100%;   float:left;  margin:0px 0px 0px 0px;}

.cantner{width:100%; float:left; margin:80px 20px 10px 20px;}
.welcome-name{width:100%; float:left; border-bottom:1px solid #d7d7d7;  margin:5px 0px 10px 0px; padding:10px 0px 10px 0px;}
.pull-left-hading{ font-size:13px; color:#0b0b0b; }

.col-md-box{ float:left;  background:#fff; margin:0px 0px 15px 0px; width:99%; border-bottom:1px solid #e26e6d;}
.col-md-inner{width:100%; height:35px; background:#e26e6d;}
.col-h5-hading{font-size:16px; float:left; margin:8px 10px 12px 10px; color:#FFF;}
.col-imgs{  margin:20px 10px 20px 10px; text-align:left;}
.col-bo-new{width:58%; float:right; margin: -90px 30px 12px -6px; line-height:22px; text-align:left;}

.col-md-inner1{width:100%; height:35px;  border-bottom:1px solid #e0e0e0;}
.col-h5-hading1{font-size:15px; font-weight:700; float:left; margin:8px 10px 12px 10px; color:#2d4b9d;}

.col-navi2{width:100%; float:left; background:#a4a4a4; height:45px; margin:-5px 0px 10px 0px; padding:10px 0px 10px 0px;}
.col-navi3{ background:#a4a4a4; float:left;  margin:-8px 0px 10px 0px; }

.form-col{width:95%; float:left; border-bottom:1px solid #CCC;}
.form-col2{width:95%; float:left; border-bottom:1px solid #CCC;}
.form-hading{ font-size:18px;  color:#3c579b; text-transform:uppercase;}

.in-col-boxs{width:95%; float:left; border-bottom:1px solid #ebeff2; margin:-12px 10px 5px 5px;}
.gir-img{float:left; margin:10px 10px 10px 10px;}
.com-hading{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b;}
.com-hading2{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b;margin: -50px 0px -15px 0px;}
.com-hading1{ font-size:18px; float:left; text-transform:uppercase; color:#3c579b; margin:0px 0px 10px 0px;}
.col-white{width:100%; height:400px; float:left; background:#FFF; margin:5px 0px 20px 0px; border:1px solid #d9d9d9;  border-radius:10px;}


.full {background:url(../images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	width:100%; 
	height:100%;
	float:left;
}

.login-bg1{width:95%;  margin:15% auto 0% auto; background:#FFF; border-radius:10px; border:1px solid #cecece;}
.login-logo-col{float:left; margin: 28px 12px 10px 20px; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px;}
.sign-hadin{ font-size:22px; float:left; margin:20px 12px 20px 18px; color:#01139c; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px; }
.sign-button{float:right; margin:-15px 0px 0px 0px;}




.panel-footer1{width:100%; height:50px; float:left; background:#e6e6e6;}
.footer-text{text-align:center; font-size:13px;color:#707070; margin:15px 0px 5px 0px;}

}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 768px) {
.ful-banner-bg {width:100%; height:100px; float:left; background:url(../images/header-banner.jpg); background-size:100%;}
.logo-left{float:left; margin:10px 0px 10px 0px; width:18%;}
.Search{float:left; margin:10px 0px 10px 0px; width:295px; height:33px; background:#e2e7ea; border:1px solid #cecece; border-radius:15px; padding:0px 5px 0px 10px;}
.Search-con{float:left; margin:20px 0px 0px 0px; height:20px; width:20px;}
.btn-danger-color1{color: #dbdbdb; background-color:#e2e7ea; border:1px  #e2e7ea solid; margin: 17px 13px 0px -35px;}

.hading-h2{ display:none;}
.navi-bg{width:100%;   float:left;  margin:-12px 0px 0px 0px;}

.cantner{width:100%; float:left; margin:0px 20px 10px 20px;}
.welcome-name{width:100%; float:left; border-bottom:1px solid #d7d7d7;  margin:5px 0px 10px 0px; padding:10px 0px 10px 0px;}
.pull-left-hading{ font-size:14px; color:#0b0b0b; }


.col-md-box{ float:left;  background:#fff; margin:0px 10px 15px 0px; width:31%; border-bottom:1px solid #e26e6d;}
.col-md-inner{width:100%; height:35px; background:#e26e6d;}
.col-h5-hading{font-size:16px; float:left; margin:8px 10px 12px 10px; color:#FFF;}
.col-imgs{  margin:10px 10px 10px 10px; text-align:center;}
.col-bo-new{width:80%; float:; margin:-10px 30px 12px -6px; line-height:22px; text-align:center; }

.col-md-inner1{width:100%; height:35px;  border-bottom:1px solid #e0e0e0;}
.col-h5-hading1{font-size:15px; font-weight:700; float:left; margin:8px 10px 12px 10px; color:#2d4b9d;}
.col-navi1{width:100%; float:left; background:#000000; height:45px; margin:0px 0px 10px 0px; padding:10px 0px 10px 0px;}

.col-navi1{width:100%; float:left; background:#000000;  margin:0px 0px 10px 0px; padding:10px 0px 10px 0px;}
.table-responsive {width: 100%; margin-bottom: 15px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar;}

.col-navi2{width:100%; float:left; background:#a4a4a4; height:45px; margin:-5px 0px 10px 0px; padding:10px 0px 10px 0px;}
.col-navi3{ background:#a4a4a4; float:left;  margin:-8px 0px 10px 0px; }

.form-col{width:95%; float:left; border-bottom:1px solid #CCC; margin:0px 20px 0px 0px;}
.form-col2{width:95%; float:left; border-bottom:1px solid #CCC; margin:0px 20px 0px 0px;}
.form-hading{ font-size:18px;  color:#3c579b; text-transform:uppercase;}

.in-col-boxs{width:95%; float:left; border-bottom:1px solid #ebeff2; margin:-12px 10px 5px 12px;}
.gir-img{float:left; margin:10px 10px 10px 10px;}
.com-hading{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b;}
.com-hading2{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b; margin:-10px 0px 10px 0px;}
.com-hading1{ font-size:18px; float:left; text-transform:uppercase; color:#3c579b; margin:0px 0px 10px 0px;}
.col-white{width:100%; height:400px; float:left; background:#FFF; margin:5px 0px 20px 0px; border:1px solid #d9d9d9;  border-radius:10px;}


.full {background:url(../images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	width:100%; 
	height:100%;
	float:left;
}

.login-bg1{width:95%;  margin:8% auto 0% auto; background:#FFF; border-radius:10px; border:1px solid #cecece;}
.login-logo-col{float:left; margin: 28px 12px 10px 20px; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px;}
.sign-hadin{ font-size:22px; float:left; margin:20px 12px 20px 18px; color:#01139c; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px; }
.sign-button{float:right; margin:-15px 0px 0px 0px;}



.panel-footer1{width:100%; height:50px; float:left; background:#e6e6e6;}
.footer-text{text-align:center; font-size:15px;color:#707070; margin:15px 0px 5px 0px;}
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1024px) {
.ful-banner-bg {width:100%; height:155px; float:left; background:url(../images/header-banner.jpg); background-size:100%;}
.logo-left{float:left; margin:20px 0px 10px 0px; width:auto;}
.Search{float:left; margin:20px 0px 10px 0px; width:295px; height:33px; background:#e2e7ea; border:1px solid #cecece; border-radius:15px; padding:0px 5px 0px 10px;}
.Search-con{float:left; margin:20px 0px 0px 0px; height:20px; width:20px;}
.btn-danger-color1{color: #dbdbdb; background-color:#e2e7ea; border:1px  #e2e7ea solid; margin:25px 0px 0px -35px;}

.hading-h2{ display:none;}
.navi-bg{width:100%; height:30px;  float:left;  margin:15px 0px 0px 0px;}

.cantner{width:100%; float:left; margin:0px 20px 10px 20px;}
.welcome-name{width:100%; float:left; border-bottom:1px solid #d7d7d7;  margin:5px 0px 10px 0px; padding:10px 0px 10px 0px;}
.pull-left-hading{ font-size:14px; color:#0b0b0b; }

.col-md-box{ float:left;  background:#fff; margin:0px 18px 15px 0px; width:31%; border-bottom:1px solid #e26e6d;}
.col-md-inner{width:100%; height:35px; background:#e26e6d;}
.col-h5-hading{font-size:16px; float:left; margin:8px 10px 12px 10px; color:#FFF;}
.col-imgs{  margin:10px 10px 10px 10px; text-align:center;}
.col-bo-new{width:80%; float:; margin:-10px 30px 12px -6px; line-height:22px; text-align:center; }

.col-md-inner1{width:100%; height:35px;  border-bottom:1px solid #e0e0e0;}
.col-h5-hading1{font-size:15px; font-weight:700; float:left; margin:8px 10px 12px 10px; color:#2d4b9d;}

.col-navi1{width:100%; float:left; background:#000000; height:45px; margin:0px 0px 10px 0px; padding:10px 0px 10px 0px;}
.table-responsive {width: 100%; margin-bottom: 15px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar;}

.col-navi2{width:100%; float:left; background:#a4a4a4; height:45px; margin:-5px 0px 10px 0px; padding:10px 0px 10px 0px;}
.col-navi3{ background:#a4a4a4; float:left;  margin:-8px 0px 10px 0px; }

.form-col{width:460px; float:left; margin:auto; border-bottom:none;}
.form-col2{width:460px; float:right; margin:auto; border-bottom:none;}
.form-hading{ font-size:18px;  color:#3c579b; text-transform:uppercase;}
.mass-col-md5{ padding:10px 12px 10px 10px; float:left; margin:10px 12px 20px 0px; background:#dedede; width:100%; font-size:18px; color:#727272;}
.col-md2d{width:45%; float:left;  margin:0px 0px 10px 0px;}
.col-md2f{width:45%; float:right; margin:0px 0px 10px 0px;}
.border-bg{width:100%; float:left; height:1px; background:#c8c8c8; margin:0px 0px 10px 0px;}

.had-col-h2{font-size:16px; color:#0b1951; float:left; margin:0px 0px 50px 0px;}
.had-col-h3{font-size:16px; color:#0b1951; float:right; margin:0px 0px 50px 0px;}
.in-col-boxs{width:95%; float:left; border-bottom:1px solid #ebeff2; margin:-12px 10px 5px 12px;}
.gir-img{float:left; margin:10px 10px 10px 10px;}
.com-hading{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b;}
.com-hading2{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b; margin:-10px 0px 10px 0px;}
.com-hading1{ font-size:18px; float:left; text-transform:uppercase; color:#3c579b; margin:0px 0px 10px 0px;}




.full {background:url(../images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	width:100%; 
	height:100%;
	float:left;
}

.login-bg1{width:450px; height:460px; margin:5% auto 0% auto; background:#FFF; border-radius:10px; border:1px solid #cecece;}
.login-logo-col{float:left; margin: 28px 12px 10px 20px; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px;}
.sign-hadin{ font-size:22px; float:left; margin:20px 12px 20px 18px; color:#01139c; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px; }
.sign-button{float:right; margin:-15px 0px 0px 0px;}


.panel-footer1{width:100%; height:50px; float:left; background:#e6e6e6;}
.footer-text{text-align:center; font-size:15px;color:#707070; margin:15px 0px 5px 0px;}
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1366px) {


.ful-banner-bg {width:100%; height:200px; float:left; background:url(../images/header-banner.jpg); background-size:100%;}
.logo-left{float:left; margin:20px 0px 10px 0px; width:auto;}
.Search{float:left; margin:20px 0px 10px 0px; width:295px; height:33px; background:#e2e7ea; border:1px solid #cecece; border-radius:15px; padding:0px 5px 0px 10px;}
.Search-con{float:left; margin:20px 0px 0px 0px; height:20px; width:20px;}
.btn-danger-color1{color: #dbdbdb; background-color:#e2e7ea; border:1px  #e2e7ea solid; margin:26px 0px 0px -35px;}

.hading-h2{font-size:30px; float:left; display:block; margin:8px 0px 10px 0px; color:#59595d; font-weight:normal;}
.navi-bg{width:100%;  float:left; background:none;  margin:10px 0px 0px 0px;}

.cantner{width:100%; float:left; margin:0px 0px 10px 0px;}
.welcome-name{width:100%; float:left; border-bottom:1px solid #d7d7d7;  margin:5px 0px 10px 0px; padding:10px 0px 10px 0px;}
.pull-left-hading{ font-size:15px; color:#0b0b0b;}


.col-md-box{ float:left; width: 387px;  background:#fff; margin:0px 29px 30px 0px;  border-bottom:1px solid #e26e6d;}
.col-md-inner{width:100%; height:35px; background:#e26e6d;}
.col-h5-hading{font-size:16px; float:left; margin:8px 10px 12px 10px; color:#FFF;}
.col-imgs{  margin:20px 10px 20px 10px; text-align:left;}
.col-bo-new{width:255px; float:right; margin: -90px 30px 12px -6px; line-height:22px; text-align:left;}

.col-md-inner1{width:100%; height:35px;  border-bottom:1px solid #e0e0e0;}
.col-h5-hading1{font-size:15px; font-weight:700; float:left; margin:8px 10px 12px 10px; color:#2d4b9d;}

.col-navi1{width:100%; float:left; background:#000000; height:45px; margin:0px 0px 10px 0px; padding:10px 0px 10px 0px;}
.table-responsive {width: 100%; margin-bottom: 15px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar;}

.col-navi2{width:100%; float:left; background:#a4a4a4; height:45px; margin:-25px 0px 10px 0px; padding:10px 0px 10px 0px;}
.col-navi3{ background:#a4a4a4;  margin:0px 0px 10px 0px; }

.col-navi2{width:100%; float:left; background:#a4a4a4; height:45px; margin:-25px 0px 10px 0px; padding:10px 0px 10px 0px;}
.col-navi3{ background:#a4a4a4; float:left;   margin: 0px 0px 10px 16px;}

.form-col{width:590px; float:left; margin:auto; border-bottom:none;}
.form-col2{width:590px; float:right; margin:auto; border-bottom:none;}
.form-hading{ font-size:18px;  color:#3c579b; text-transform:uppercase;}
.mass-col-md5{ padding:10px 12px 10px 10px; float:left; margin:10px 12px 20px 0px; background:#dedede; width:100%; font-size:18px; color:#727272;}
.col-md2d{width:45%; float:left;  margin:0px 0px 10px 0px;}
.col-md2f{width:45%; float:right; margin:0px 0px 10px 0px;}
.border-bg{width:100%; float:left; height:1px; background:#c8c8c8; margin:0px 0px 10px 0px;}

.had-col-h2{font-size:16px; color:#0b1951; float:left; margin:0px 0px 50px 0px;}
.had-col-h3{font-size:16px; color:#0b1951; float:right; margin:0px 0px 50px 0px;}

.in-col-boxs{width:95%; float:left; border-bottom:1px solid #ebeff2; margin:-12px 10px 5px 12px;}
.gir-img{float:left; margin:10px 10px 10px 10px;}
.com-hading{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b;}
.com-hading2{ font-size:22px; float:left; text-transform:uppercase; color:#3c579b; margin:-10px 0px 10px 0px;}
.com-hading1{ font-size:18px; float:left; text-transform:uppercase; color:#3c579b; margin:0px 0px 10px 0px;}

.col-white{width:100%; height:400px; float:left; background:#FFF; margin:5px 0px 20px 0px; border:1px solid #d9d9d9;  border-radius:10px;}



.full {background:url(../images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	width:100%; 
	height:100%;
	float:left;
}

.login-bg1{width:450px; height:460px; margin:8% auto 0% auto; background:#FFF; border-radius:10px; border:1px solid #cecece;}
.login-logo-col{float:left; margin: 28px 12px 10px 20px; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px;}
.sign-hadin{ font-size:22px; float:left; margin:20px 12px 20px 18px; color:#01139c; border-bottom:1px solid #eaeaea; width:92%; padding:0px 0px 10px 0px; }
.sign-button{float:right; margin:-15px 0px 0px 0px;}


.panel-footer1{width:100%; height:50px; float:left; background:#e6e6e6;}
.footer-text{text-align:center; font-size:15px;color:#707070; margin:15px 0px 5px 0px;}


}