@charset "utf-8";
*{ margin:0px; padding:0px;}
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
body {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #333;
	background:#fff;
}

@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/* Mobile Layout: 480px and below. */
@media only screen and (min-width: 318px) {



}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 768px) {
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1024px) {
	.top-heder{width:100%; height:15px; float:left; background:#ce2127;}
	.center-bg{width:700px; height:360px; margin:150px auto 0px auto; background:#f7f7f7; border-radius:15px; border: 1px solid #dde9ef;}


}