﻿<div class="full" ng-controller="LoginController">
    <div class="login-bg1">
        <div class="login-logo-col"><img src="../images/logo.png"></div>
        <h4 class="sign-hadin">Sign In</h4>
        

        <div class="panel-body">
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <form id="loginform"  name="loginform" class="form-horizontal" role="form" >
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username" ng-model="loginCtrl.username" style="height:40px;" required>

                  
                </div>

                
               
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" ng-class="" type="password" class="form-control" name="password" placeholder="Password" ng-model="loginCtrl.password" style="height:40px;" required>
                   
                   
                </div>


                <div class="input-group">
                    <div class="checkbox">
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>

                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls sign-button">
                        <a id="btn-fblogin"  class="btn btn-primary sign-button" ng-click="loginCtrl.signIn(loginCtrl)">Sign In</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
